*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerContent{
    width: 100vw;
    max-width: 800px;
    padding: 10px;
    margin: auto;
}

header, #containerQuestion{
    max-width: 100%;
    margin: auto;
    padding: 10px;
}

header{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

h1{
    font-family: 'Kumar One Outline', Arial, Helvetica, sans-serif;
    font-size: 3em;
    padding: 10px;
}

#start{
    cursor: pointer;
    width: 50%;
    padding: 20px;
    font-size: 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

#main{
    width: 100%;
}

#containerQuestion{
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 1em black;
    display: none;
}

h3{
    font-size: 2em;
    text-align: center;
    padding: 10px;
}

#hex{
    max-width: 50%;
    height: 40px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(01, 02, 03, 0.50);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hex, .colorBack{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0 0 0.2em black, 0 0 0.2em black;
}


.color{
    width: 100%;
    height: 80px;
    position: relative;
}


#colorsBoard{
    max-width: 100%;
    margin-bottom: 30px;

    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;

    gap: 30px;
}

.colorFront, .colorBack{
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.colorFront{
    box-shadow: 0 0 1em black;
}

.colorBack{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(01, 02, 03, 0.50);
    display: none;
}

.correct{
    box-shadow: 0 0 1em green;    
}

.wrong{
    box-shadow: 0 0 1em red;
}

#result{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);   
    margin: auto;
    text-align: center;
    display: none;
}

#h2{
    margin-top: calc(100% - 80%);
    margin-bottom: 30px;
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

#restart{
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    background-color: purple;
    background-repeat: repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 10px;
    margin-top: 10px;    
}
